@import "tailwindcss";


:root {
  --color-primary: #000000;
  --color-secondary: rgba(0, 0, 0, 0.6);
  --color-tertiary: #F0F0F0;
}
/* section title  */
.section-title {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-primary);
}

/* sub-title mobile   */
.subtitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary);
}
/* p */
.p-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary);
}
/* pricing title */
.price-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
}


/* global btn */
.btn-global {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  padding: 12px 50px;
  background-color: var(--color-primary);
  border-radius: 50px; /* rounded-xl feel */
  transition: all 0.2s ease-in-out;
}

.btn-global:hover {
  opacity: 0.9;
}





.brand-versace,
.brand-zara,
.brand-gucci,
.brand-prada {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.15em;
}

.brand-calvin {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}










/* section title mobile   */
@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
}

/* sub-title mobile   */
@media (max-width: 768px) {
  .subtitle {
    font-size: 16px;
  }
}
/* p mobile */
@media (max-width: 768px) {
  .p-text {
    font-size: 14px;
  }
}